---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry, getCollection, render } from 'astro:content';

import BaseLayout from '@/app/layouts/base-layout.astro';
import Breadcrumbs from '@/shared/ui/base/breadcrumbs.astro';
import RelatedPosts from '@/shared/ui/base/related-posts/related-posts.astro';
import Toc from '@/shared/ui/layout/toc.astro';
import { mdxComponents } from '@/shared/ui/mdx';
import { formatDate } from '@/shared/utils';

export const getStaticPaths = (async () => {
  const allHowtos = await getCollection('howtos', ({ data }) => !data.isDraft);
  return allHowtos.map(howto => ({
    params: { slug: howto.data.slug },
    props: { howto },
  }));
}) satisfies GetStaticPaths;

type Props = {
  howto: CollectionEntry<'howtos'>;
};

const { howto } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await render(howto);

const breadcrumbItems = [
  { label: 'How-to', href: '/howto/' },
  { label: howto.data.category, href: `/howto/${howto.data.category.toLowerCase()}/` },
  { label: howto.data.title },
];

const newDate = formatDate(howto.data.date);
---

<BaseLayout
  title={howto.data.title}
  description={howto.data.desc}
  image={howto.data.image}
  contentType={howto.data.type}
  slug={howto.data.slug}>
  <main class='main'>
    <section aria-label='Breadcrumbs'>
      <Breadcrumbs
        items={breadcrumbItems}
        class='mt-10'
      />
    </section>

    <article class='post-article'>
      <header class='post-header'>
        <h1 class='post-title'>{howto.data.heading}</h1>
        <p class='post-subtitle'>{howto.data.subtitle}</p>
        <p class='read-meta'>
          <time datetime={howto.data.date.toISOString()}>{newDate}</time>
          <span
            class='read-time'
            aria-label='Estimated reading time'>
            <svg
              width='15'
              height='13'
              viewBox='0 0 15 13'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M7.5 2.38804V12.138M7.5 2.38804C7.5 2.38804 4.25 -0.397677 1 1.92375V12.138C4.25 9.81661 7.5 12.138 7.5 12.138C7.5 12.138 10.75 9.81661 14 12.138V1.92375C10.75 -0.397677 7.5 2.38804 7.5 2.38804Z'
              ></path>
            </svg>
            {remarkPluginFrontmatter?.minutesRead ?? ''}
          </span>
        </p>
      </header>

      <aside
        class='post-toc'
        aria-label='Table of contents'>
        <Toc items={headings} />
      </aside>

      <section
        class='post-content'
        aria-label='Article content'>
        <Content components={mdxComponents} />
      </section>

      <footer class='post-footer'>
        <RelatedPosts
          collection='howtos'
          slug={howto.data.slug}
        />
      </footer>
    </article>
  </main>
</BaseLayout>
