---
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { CollectionEntry, getCollection, render } from 'astro:content';

import BaseLayout from '@/app/layouts/base-layout.astro';
import Breadcrumbs from '@/shared/ui/base/breadcrumbs.astro';
import RelatedPosts from '@/shared/ui/base/related-posts/related-posts.astro';
import { mdxComponents } from '@/shared/ui/mdx';

export const getStaticPaths = (async () => {
  const allHowtos = await getCollection('howtos', ({ data }) => !data.isDraft);
  return allHowtos.map(howto => ({
    params: {
      slug: howto.data.slug,
    },
    props: {
      howto,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

type Props = {
  howto: CollectionEntry<'howtos'>;
};
const { howto } = Astro.props;

const { Content } = await render(howto);

const breadcrumbItems = [
  { label: 'How-to', href: '/howto/' },
  {
    label: howto.data.category,
    href: `/howto/${howto.data.category.toLowerCase()}/`,
  },
  { label: howto.data.title },
];
---

<BaseLayout
  title={howto.data.title}
  description={howto.data.desc}
  image={howto.data.image}>
  <main class='main'>
    <Breadcrumbs
      items={breadcrumbItems}
      class='mt-10'
    />
    <article class='post-article'>
      <h1 class='post-title'>{howto.data.title}</h1>
      <Content components={mdxComponents} />
      <RelatedPosts
        collection='howtos'
        slug={howto.data.slug}
      />
    </article>
  </main>
</BaseLayout>
