---
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { CollectionEntry, getCollection, render } from 'astro:content';

import BaseLayout from '@/app/layouts/base-layout.astro';
import { generateSnippetsBreadcrumbs } from '@/shared/helpers/breadcrumbs.helpers';
import Breadcrumbs from '@/shared/ui/base/breadcrumbs.astro';
import { mdxComponents } from '@/shared/ui/mdx';

export const getStaticPaths = (async () => {
  const allSnippets = await getCollection(
    'snippets',
    ({ data }) => !data.isDraft
  );
  return allSnippets.map(snippet => ({
    params: {
      slug: snippet.data.slug,
    },
    props: {
      snippet,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

type Props = {
  snippet: CollectionEntry<'snippets'>;
};
const { snippet } = Astro.props;

const { Content } = await render(snippet);

const breadcrumbItems = [
  { label: 'Snippets', href: '/snippets/' },
  { label: snippet.data.title },
];
---

<BaseLayout
  title={snippet.data.title}
  description={snippet.data.desc}
  image={snippet.data.image}
>
  <main class='main'>
    <Breadcrumbs items={breadcrumbItems} class='mt-10' />
    <article class='post-article'>
      <h1 class='post-title'>{snippet.data.title}</h1>
      <Content components={mdxComponents} />
    </article>
  </main>
</BaseLayout>
